{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information"
      }
    }
  },
  "MongoDbSettings": {
    "ConnectionString": "mongodb+srv://Assignment:T9Ijf28QkZU3cG5a@cluster0.wpavw.mongodb.net/?appName=Cluster0",
    "DatabaseName": "AssignmentManagementDb"
  },
  "JwtSettings": {
    "SecretKey": "REPLACE_WITH_YOUR_STRONG_SECRET_KEY_AT_LEAST_32_CHARS",
    "Issuer": "AssignmentManagementApi",
    "Audience": "AssignmentManagementClient",
    "ExpiryInMinutes": 60
  },
  "AllowedHosts": "*"
}
