{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "MongoDbSettings": {
    "ConnectionString": "mongodb://username:password@localhost:27017/AssignmentManagementDb?authSource=admin",
    "DatabaseName": "AssignmentManagementDb"
  },
  "JwtSettings": {
    "Secret": "REPLACE_WITH_YOUR_STRONG_SECRET_KEY_AT_LEAST_32_CHARS",
    "Issuer": "AssignmentManagementApi",
    "Audience": "AssignmentManagementClient",
    "ExpiryInMinutes": 60
  }
}
